<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coder.mm.annimationproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ZooOutAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".ZoomInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".SlideDownAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".SlideUpAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".RotateAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".FadeOutAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".FadeInAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".BounceAni">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Animations" />
        </activity>
        <activity android:name=".Animations" />


        <activity android:name=".ScaleAniActivity" />
        <activity android:name=".BounceActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>